@{
    Layout = "~/Trips/_TripsLayout.cshtml";

    StarterSiteEntities model = new StarterSiteEntities();

    int transId = UrlData[0].AsInt();
    Transaction transactionToEdit = model.Transactions.Single(tran => tran.Id == transId);

    Page.Title = "Edit transaction " + transactionToEdit.Title;

    // Initialise general page variables
    string title = transactionToEdit.Title;
    string dateString = transactionToEdit.Date.ToString("dd/MM/yyyy");
    string currencyName = model.Currencies.Single(cur => cur.Id == transactionToEdit.CurrencyId).Name;
    double amount = transactionToEdit.LocalValue;
    string who = HelperMethods.UserNameString(transactionToEdit.WhoId);
    List<string> participants = HelperMethods.OrderedTripParticipants(transactionToEdit.TripId);
    IEnumerable<Sharer> sharerEntries = model.Sharers.Where(share => share.TransactionId == transactionToEdit.Id);
    string[] sharers = sharerEntries.Select(share => HelperMethods.UserNameString(share.UserId)).ToArray();
    Currency transCurrency = model.Currencies.Single(cur => cur.Name == currencyName);

    // Setup validation
    Validation.RequireField("title", "You must specify a transaction name.");

    // If this is a POST request, validate and process data
    if ( IsPost == true )
    {
        title = Request.Form["title"];
        dateString = Request.Form["date"];

        // Convert this string in dd/mm/yy format into a datetime to get around mobile/pc local differences
        DateTime date = DateTime.ParseExact(dateString, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);

        currencyName = Request.Form["currency"];
        transCurrency = model.Currencies.Single(cur => cur.Name == currencyName);

        Double.TryParse(Request.Form["amount"], out amount);
        who = Request.Form["who"];

        sharers = ( Request.Form["sharedBy"] != null ) ? Request.Form["sharedBy"].Split(',') : new string[0];

        // Check for 'action' values first
        if ( Request["action"] == "Update transaction" )
        {
            if ( Validation.IsValid() == true )
            {
                // Update the transaction being edited
                transactionToEdit.Title = title;
                transactionToEdit.Date = date;
                transactionToEdit.LocalValue = amount;
                transactionToEdit.WhoId = model.UserProfiles.Single(user => user.Email == who).UserId;

                // If the currency has changed then update the rate and the sterling amount
                if ( transCurrency.Id != transactionToEdit.CurrencyId )
                {
                    transactionToEdit.CurrencyId = transCurrency.Id;
                    transactionToEdit.Rate = transCurrency.Rate;
                }

                transactionToEdit.SterlingValue = amount * transactionToEdit.Rate;

                model.SaveChanges();

                // Return back to the trip, not the transaction
                Response.Redirect(Href("~/Trips/Trip", transactionToEdit.TripId));
            }
        }
        else
        {
            // Has there been an amount or sharer change
            if ( string.IsNullOrEmpty(Request["changedAmount"]) == false )
            {
                // No action is performed here. The form will display the new amount and divide it amongst the selected sharers
            }
            else if ( string.IsNullOrEmpty(Request["changedSharer"]) == false )
            {
                // No action is performed here. The form will display the udpated sharers and their amounts
            }
            else if ( string.IsNullOrEmpty(Request["changedCurrency"]) == false )
            {
                currencyName = Request["changedCurrency"];
                transCurrency = model.Currencies.Single(cur => cur.Name == currencyName);
            }
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $.datepicker.setDefaults($.extend({ 'dateFormat': 'dd/mm/yy' }, $.datepicker.regional['uk']));
        $("#date").datepicker();
    });

    function OnAmountChange() {
        // All we need to do here is set an hidden variable to indicate that this is an amount change rather
        // than an update.
        document.getElementById('changedAmount').value = document.getElementById('amount').value;
        document.getElementById('transactionForm').submit();
    }

    function OnSharerChange() {
        // All we need to do here is set an hidden variable to indicate that this is a sharer change rather
        // than an update.
        document.getElementById('changedSharer').value = 'changed';
        document.getElementById('transactionForm').submit();
    }


    function OnCurrencyChange() {
        // All we need to do here is set an hidden variable to indicate that this is a currency change rather
        // than an update.
        document.getElementById('changedCurrency').value = document.getElementById('currency').value;
        document.getElementById('transactionForm').submit();
    }
</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
            @if ( WebSecurity.IsAuthenticated == true )
            {
                <p>Use the form below to edit this transaction</p>
            }
            else
            {
                <p> Please login to edit this transaction</p>
            }
        </div>
    </section>
}

@if ( WebSecurity.IsAuthenticated == true )
{
    <form id="transactionForm" method="post">
        @Html.ValidationSummary("Operation was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null)

        <input type="hidden" id="changedAmount" name="changedAmount" value="" />
        <input type="hidden" id="changedSharer" name="changedSharer" value="" />
        <input type="hidden" id="changedCurrency" name="changedCurrency" value="" />

        <fieldset>
            <legend>Edit transaction</legend>
            <ol>
                <li>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="@title" @Validation.For("title") />
                    @Html.ValidationMessage("title")
                </li>
                <li>
                    <label for="amount">Amount</label>
                    <div class="flex-input">
                        @{
                            // Get a list of the available currency names
                            List<SelectListItem> currencyItems = model.Currencies.Select(cur => new SelectListItem
                            { Value = cur.Name, Text = cur.Name, Selected = ( cur.Name == currencyName ) }).ToList();
                        }
                        @Html.DropDownList("currency", currencyItems, new { onChange = "OnCurrencyChange()" })

                        <input type="number" id="amount" name="amount" step="any" min="0" value="@amount" onchange="OnAmountChange();" ) />
                    </div>
                </li>
                <li>
                    <div class="flex-input">
                        <label for="date">When</label>
                        @* Make the date field read only so that on mobiles the text input widget is not displayed *@
                        <input type="text" id="date" name="date" value="@dateString" readonly="readonly" />
                    </div>
                </li>
                <li>
                    <div class="flex-input">
                        @{
                            // Get a list of the available trippers
                            List<SelectListItem> trippers = HelperMethods.TripParticipants(transactionToEdit.TripId)
                                .Select(tripper => new SelectListItem { Value = tripper, Text = tripper, Selected = ( tripper == who ) }).ToList();
                        }

                        <label for="who">Paid By</label>
                        @Html.DropDownList("who", trippers)
                    </div>
                </li>
                <li>
                    @{
                        <label for="sharedBy">Shared By</label>

                        <table>
                            @foreach ( string userName in participants )
                            {
                                <tr>
                                    @if ( sharers.Contains(userName) )
                                    {
                                        <td>
                                            <input name="sharedBy" type="checkbox" value="@userName" checked="checked"
                                                   onchange="OnSharerChange();" /> @userName
                                            </td>
                                            <td>
                                                @if ( sharers.Count() > 0 )
                                                {
                                                    <span>@HelperMethods.AmountString(amount / sharers.Count(), transCurrency.Id)</span>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input name="sharedBy" type="checkbox" value="@userName" onchange="OnSharerChange();" /> @userName
                                            </td>
                                            <td>
                                                <span>@HelperMethods.AmountString(0.0, transCurrency.Id)</span>
                                            </td>
                                        }
                                </tr>
                            }
                        </table>
                    }
                </li>

            </ol>
            @*Use 'fred' as the id rather than 'submit' to allow submit to be called on the form from java script*@
            <input type="submit" name="action" value="Update transaction" id="fred" />
            <a href="@Href("~/Trips/Trip", transactionToEdit.TripId)" class="btn">Cancel</a>
        </fieldset>
    </form>
}
