@{
    Layout = "~/Trips/_TripsLayout.cshtml";
    StarterSiteEntities model = new StarterSiteEntities();

    string tripName = UrlData[0];

    Trip tripToEdit = model.Trips.SingleOrDefault(trip => trip.Name == tripName);
    Page.Title = "Edit trip " + tripToEdit.Name;

    // Initialise general page variables
    string name = tripToEdit.Name;
    string[] participants = HelperMethods.TripParticipants(tripToEdit.Id).ToArray();
    bool isOpen = tripToEdit.Open;

    // Setup validation
    Validation.RequireField("name", "Trip name cannot be empty");

    // If this is a POST request, validate and process data
    if ( IsPost == true )
    {
        // Update the general page variables with the posted values.
        // Do this before validation so that if there is a validation error the form fields will be populated with the
        // posted values instead of the defaults
        name = Request.Form["name"];
        isOpen = Request.Form["open"].AsBool();
        participants = ( Request.Form["isInTrip"] != null ) ? Request.Form["isInTrip"].Split(',') : new string[0];

        if ( Validation.IsValid() == true )
        {
            // Make sure that a trip with the same name does not already exist ( ignoring this trip of course )
            if ( model.Trips.Any(trip => ( trip.Name == name ) && ( trip.Id != tripToEdit.Id )) )
            {
                ModelState.AddFormError("The trip name already exists");
            }
            else
            {
                // Make sure that there is at least one participant in the trip
                if ( participants.Count() == 0 )
                {
                    ModelState.AddFormError("You must select at least one participant for the trip");
                }
                else
                {
                    // Replace the existing entry with the edited values
                    tripToEdit.Name = name;
                    tripToEdit.Open = isOpen;

                    // The best way of updating the trippers records is to delete all the old ones first and then add the new
                    model.Trippers.RemoveRange(model.Trippers.Where(tripper => tripper.TripId == tripToEdit.Id));

                    // Get the names of the trippers and from them a list of user ids
                    IEnumerable<int> userIds = model.UserProfiles.Where(user => participants.Contains(user.Email)).Select(user => user.UserId);

                    foreach ( int userId in userIds )
                    {
                        model.Trippers.Add(new Tripper() { TripId = tripToEdit.Id, UserId = userId });
                    }

                    model.SaveChanges();

                    Response.Redirect("~/Trips");
                }
            }
        }
    }
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
            @if ( WebSecurity.IsAuthenticated == true )
            {
                <p> Use the form below to change the name, participants or open/close status of a trip.</p>
            }
            else
            {
                <p> Please login to edit this trip.</p>
            }
        </div>
    </section>
}

@if ( WebSecurity.IsAuthenticated == true )
{
    <form method="post">
        @* If one or more validation errors exist, show an error *@
        @Html.ValidationSummary("Operation was unsuccessful. Please correct the errors and try again.", excludeFieldErrors: true, htmlAttributes: null)

        <fieldset>
            <legend>Edit trip</legend>
            <ol>
                <li>
                    <div class="flex-input">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="@tripName" @Validation.For("name") />
                        @* Write any user name validation errors to the page *@
                        @Html.ValidationMessage("name")
                    </div>
                </li>
                <li>
                    @{
                        // Get a list of the tripper with the current user at the top of the list.
                        List<UserProfile> trippers = HelperMethods.OrderedTrippers();

                        <label for="isInTrip">Participants</label>

                        foreach ( UserProfile user in trippers )
                        {
                            if ( participants.Contains(user.Email) )
                            {
                                <input name="isInTrip" type="checkbox" value="@user.Email" checked="checked" /> @user.Email<br />
                            }
                            else
                            {
                                <input name="isInTrip" type="checkbox" value="@user.Email" /> @user.Email<br />
                            }
                        }
                    }
                </li>
                <li>
                    <div class="flex-input">
                        <label class="checkbox" for="open">Open</label>
                        <input type="checkbox" id="open" name="open" value="true" checked="@tripToEdit.Open" />
                    </div>
                </li>
            </ol>
            <input type="submit" value="Update trip" id="submit" />
            <a href="@Href("~/Trips")" class="btn">Cancel</a>
        </fieldset>
    </form>
}
